/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------------------------------------------Basic*/
/* 1. From fonts.google.com */
/* Used for headings */
@font-face {
    font-family: 'Julius Sans One';
    src: url('../fonts/juliussansone-regular-webfont.woff2') format('woff2'),
         url('../fonts/juliussansone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Used for general content */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 1. End */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
}

h1,
h2 {
    font-size: 1.8rem;
}

/* Links */
a, 
a:hover {
    text-decoration: none;
    color: #fff
}

/* Buttons to override Bootstrap*/
.signup {
    font-weight: 800;
}

.form-control, .btn {
    border-radius: 0;
}

.btn-success {
    color: #fff;
    background-color: #00611C;
}

/*------------------------------------------------------Nav*/
nav {
    background-color: #000;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 2px;
    font-size: 1.4rem;
    width: 100%;

}

nav ul,
#collapseNavbar {
    width: 100%
}

.navlogo {
    width: 200px;
    height: auto;
}

.nav-item {
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D3D3D3;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    margin-right: 3px;
}

/*------------------------------------------------------Section*/
section {
    background-color: #000;
    color: #fff;
    text-align: justify;
}

/* Photographer Image */
#portrait {
    width: 100%;
    height: auto;
    max-width: 225px;
}

/*------------------------------------------------------Footer*/
footer {
    background-color: #D3D3D3;
    color: #111111;
}

.social-links {
    font-size: 1.5rem;
}

/* 2. Code used from: https://github.com/Code-Institute-Solutions/resume-miniproject-bootstrap4/tree/master/18-resume-for-download*/
.fab {
    color: #D3D3D3;
    background: #111111;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fab:hover {
    background-color: #00611C
}
/* 2. End */