/*------------------------------------------------------Stylings*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.4rem;
}

a, a:hover {
    text-decoration: none;
    color: #fff
}

.signup {
    font-weight: 800;
}

.form-control, .btn {
    border-radius: 0;
}

.btn-success {
    color: #fff;
    background-color: #00611C;
}

/*------------------------------------------------------Nav*/

nav {
    background-color: #000;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 2px;
    font-size: 1.4rem;
    width: 100%;

}

nav ul,
#collapseNavbar {
    width: 100%
}

.navlogo {
    width: 200px;
    height: auto;
}

.nav-item {
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D3D3D3;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    margin-right: 3px;
}

/*------------------------------------------------------Section*/

section {
    background-color: #000;
    color: #fff;
    text-align: justify;
}

#portrait {
    width: 100%;
    height: auto;
    max-width: 225px;
}

/*------------------------------------------------------Footer*/

footer {
    background-color: #D3D3D3;
    color: #111111;
}

.social-links {
    font-size: 1.5rem;
}

/* Code used from: https://github.com/Ri-Dearg/resume-project/blob/master/assets/css/style.css (Correct link to COde Institute)*/

.fab {
    color: #D3D3D3;
    background: #111111;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fab:hover {
    background-color: #00611C
}