/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------------------------------------------Search Bar*/
.blogsearch,
.blogsearch-submit {
    width: 85%;
    border: none;
}

.blogsearch {
    border-bottom: 1px solid #6c757d;
    background-color: #000;
    color: #fff;
}

.blogsearch-submit {
    background-color: #00611C;
    color: #fff;
}

/*Following values used to ovverride bootstrap defaults*/
.blogsearch-submit:hover {
    background-color: rgba(0, 97, 28, 0.8);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.blogsearch-submit:focus {
    background-color: #007b23;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.blogsearch:focus {
    border-bottom: 1px solid #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.blogsearch:focus,
.blogsearch-submit:focus {
    outline: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* 1. Used to remove "x" on search field. Found at https://geektnt.com/how-to-remove-x-from-search-input-field-on-chrome-and-ie.html */
input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
/* 1. End */

/*------------------------------------------------------Blog Articles*/
.blogbox {
    background-color: #000;
    color: #fff;
}

.blogimg {
    height: auto;
    width: 100%;
}

/*Help to clip blog post text to retain page layout in a responsive design*/
.blogtxt {
    overflow: hidden;
}

/*Help to clip blog post text to retain page layout in a responsive design*/
/* 2. Found at https://css-tricks.com/line-clampin/ */
.txtover {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
/* 2. End */

/*Following values used to ovverride bootstrap defaults*/
article a {
    background-color: #00611C;
    padding: 3px;
}

article a:hover {
    background-color: rgba(0, 97, 28, 0.8);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

article a:focus {
    background-color: #007b23;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/*------------------------------------------------------Archive*/
#archive {
    background-color: #00611C;
    color: #fff;
}

#archive a, #archive a:hover {
    text-decoration: underline;
    white-space: nowrap;
}

/*Following values used to ovverride bootstrap defaults for a cleaner appearence*/
.card {
    background-color: #00611C;
    border: none;
}

.card-header {
    background-color: #00611C;
    border: none;
}

.card .btn-success {
    border: none;
}
