/*------------------------------------------------------Basic*/
html,body {
  height: 100%;
}

#contact {
    width: 100%
}

#contact-tag {
    background-color: #00611C;
}

.contact-row {
    max-width: 600px;
}

#cmessage {
    height: 150px;
}

/*Used to push the footer to the bottom of the page as the content does not fill the page on some devices*/
/*The fixed height is necessary to vertically align the content in the center of the page on larger devices, the min-height is necessary to prevent content overflow and overlap on smaller devices with vertical columns*/
.content-container-contact {
    height: 86%;
    min-height: 850px;
}

/*------------------------------------------------------Modal Styles*/

.modal-content,
.modal-header,
.modal-dialog {
    color: #fff;
    background-color: rgb(0, 0, 0);
}

.modal-content {
    border: 2px solid rgba(0, 97, 28, 0.8)
}


.modal-header,
.header-wrapper {
    color: #fff;
    background-color: #00611C;
    border: none;
}

button.close {
    color: #D3D3D3;
}

button.close:hover {
    color: #fff;
}
