/*------------------------------------------------------Basic*/
html,body {
  height: 100%;
}

#contact {
    width: 100%
}

#contact-tag {
    background-color: #00611C;
}

.contact-row {
    max-width: 600px;
}

#cmessage {
    height: 150px;
}

/*Used to push the footer to the bottom of the page as the content does not fill the page on some devices*/
/*The fixed height is necessary to vertically align the content in the center of the page on larger devices, the min-height is necessary to prevent content overflow and overlap on smaller devices with vertical columns*/
.content-container-contact {
    height: 86%;
    min-height: 850px;
}
