/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------------------------------------------Map*/
.heading-font {
    font-size: 1.4rem;
}

/*------------------------------------------------------Map*/
#map {
    height: 500px;
}

/*------------------------------------------------------iFrame*/
iframe {
    border: 0;
    overflow: hidden;
}

#scrollPoint {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

/*------------------------------------------------------Gallery Modal*/
#image-modal .modal-body,
#image-modal .modal-content,
#image-modal .modal-dialog {
    background-color: rgba(0, 0, 0, 0);
}

.modal-backdrop.show {
    opacity: 0.96;
}

#image-modal button.close {
    color: #D3D3D3;
}

#image-modal button.close:hover {
    color: #fff;
}

/*------------------------------------------------------infoWindow*/

#infowindowlist {
    list-style-type: none;
}

/*Box that holds the window*/  
.gm-style {
    font: inherit; 
}

/* style the base characteristics of the window */
.gm-style .gm-style-iw {
    font: inherit;
    font-size: 0.8rem;
    color: #fff;
    background-color: #252525;
    top: 0;
    left: 0;
    padding-right: 10px !important;
    display: block;

}    

/* style the marker arrow */

.gm-style .gm-style-iw-t::after {
    background: #252525;
}

/* gets rid of the scrollbars */
.gm-style-iw-d {
    overflow: hidden !important;
}

/*------------------------------------------------------Scroll to Top Arrow*/

.fa-arrow-up {
    color:rgba(255, 255, 255, 0.6);        
    background: rgba(0, 97, 28, 0.6);   
    width: 3rem;    
    height: 3rem;
    padding: 1rem;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 1.2rem;
    text-align: center;
    display: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.fa-arrow-up:hover {
    background: rgb(0, 97, 28);
    bottom: 2rem;
    box-shadow: 3px 3px 1px rgba(25, 41, 30, 0.8);
}