/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------------------------------------------Map*/
#map {
    height: 500px;
}

/*------------------------------------------------------iFrame*/
iframe {
    border: 0;
    overflow: hidden;
}

/*------------------------------------------------------Modal Styles*/
.modal-body,
.modal-header,
.modal-content,
.modal-dialog {
    background-color: rgba(0, 0, 0, 0);
}

button.close {
    color: #D3D3D3;
}

button.close:hover {
    color: #fff;
}