/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------------------------------------------Map*/
#map {
    height: 500px;
}

/*------------------------------------------------------iFrame*/
iframe {
    border: 0;
    overflow: hidden;
}