/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*------------------------------------------------------Basic*/
/* Prevents Scrollbars */
html {
    overflow: hidden;
    }

/* Keeps the iframe flush with the map */
body {
    padding-top: 0;
}

h4 {
    background-color: #00611C;
}

/*------------------------------------------------------Picture Spacing*/
.pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

/*------------------------------------------------------Gallery Layout*/
/*The min-height is necessary to prevent content overflow and overlap on smaller devices with vertical columns*/
.content-container-gallery {
    min-height: 83vh;
}

/* 1. CSS utilised and edited for purpose from https://mdbootstrap.com/plugins/jquery/gallery/ */
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 3vw;
    -moz-column-width: 3vw;
    column-width: 3vw;
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 95vw;
        -moz-column-width: 95vw;
        column-width: 95vw;
    }
}

/*------------------------------------------------------Gallery Blur*/
/* CSS utilised and edited for purpose from https://www.cssscript.com/progressive-image-lazy-loading-with-blur-effect/ */
/*Blur effects are necessary so the quickly-loaded thumbnails are not seen to be pixelated*/
/* The same classes exist in index.css but necessitate different values, so they are saved in seperate files*/
.card-image {
    width: 30vw;
    background: #000 center center no-repeat;
    background-size: cover;
    -webkit-filter: blur(6px);
            filter: blur(6px);
}

/*Makes the thumbnail overlay invisible*/
.card-image>img {
    width: 100%;
    opacity: 0;
}

/* Removes the blur on load*/
.card-image.is-loaded {
    -webkit-filter: none;
            filter: none;
    -webkit-transition: -webkit-filter 1s;
    transition: -webkit-filter 1s;
    -o-transition: filter 1s;
    transition: filter 1s;
    transition: filter 1s, -webkit-filter 1s;
}